@import "compass/css3";

input {
    width: 100px;
    @include transition(all 1s ease);
        &.error {
            background-color: red;
            color: white;
        }
}   

.box {
    width: 200px;
    height: 0px;

    margin: 100px auto;
    background: red;

    @include transition(all 1s ease);
}

.box.active {
    height: 400px;
}