
// WISH ME LUCK

@import "compass/css3";
 
 //EXAMPLE ONE

.button-one {
    border: 2px solid black;
    height: 100px;
    width: 200px;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: yellow;

    }

    &.active {
        height: 50px;
        width: 100px;
        border: 2px solid black;
        background-color: green;
    }
}

// EXAMPLE TWO

.button-two {
    border: 2px solid gray;
    height: 50px;
    width: 50px;
    background-color: black;
}

// EXAMPLE THREE

.button-three {
    border: 2px solid gray;
    height: 100px;
    width: 75px;
    background-color: green;
}

//EXAMPLE FOUR


